name: Build iOS IPA

on:
  push:
    branches: [ "main" ]

jobs:
  build-ios:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      
      # Configuramos Java para que no de errores de entorno
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
      
      - name: Limpiar entorno y dependencias
        run: |
          flutter clean
          flutter pub get
      
      - name: Reinstalar Pods (Vital para evitar errores)
        run: |
          cd ios
          rm -rf Podfile.lock
          pod repo update
          pod install
          cd ..

      - name: Compilar App (Sin firmar)
        run: |
          flutter build ios --release --no-codesign
          cd build/ios/iphoneos
          mkdir Payload
          mv Runner.app Payload
          zip -r TuneX.ipa Payload

      - name: Subir el archivo IPA para descargar
        uses: actions/upload-artifact@v4
        with:
          name: ios-app
          path: build/ios/iphoneos/TuneX.ipa